@model PerAspera.Models.Generated.BannerWithImage

<div class="banner" style="background-image: url('@Model.Image?.Url(mode: UrlMode.Relative)');">
	<div class="wrap">
		<div class="banner__holder">
			<div class="banner__content  ">
				<h1 class="h1 banner__title">@Model.Title</h1>
				<p class="text banner__text">@Model.Text</p>
				<a href="@Model.Button?.Url" class="btn banner-link">@Model.Button?.Name<span class="icon font-ico-chevron-right"><span class="sr-only">Icon right</span></span></a>
			</div>
		</div>
	</div>
</div>