@using PerAspera.Models.Generated
@model PerAspera.Models.Generated.LatestBlogs


<div class="card-slider">
	<div class="wrap">
		<h2 class="h2">@Model.Title</h2>
		<div class="swiper-container js-swiper card-slider__slider">
			<!-- Additional required wrapper -->
			<div class="swiper-wrapper">
				<!-- Slides -->
				@{
					var numberOfSlides = Model.NumberOfSlides > 0 ? Model.NumberOfSlides : LatestBlogs.defaultNumberOfSlides;
				}
				@foreach (var blog in Model.GetLatestBlogs(Model.NumberOfSlides))
				{
					<div class="swiper-slide card">
						<img src="@blog.PreviewImage?.Url(mode: UrlMode.Relative)" alt="slide1">
						<span class="card-label">@blog.Category.Name</span>
						<a class="card-content" href="/">
							<h3 class="h3">@blog.Title</h3>
							<span class="card-date">@blog.UpdateDate</span>
						</a>
					</div>
				}
			</div>
			<div class="swiper-scrollbar swiper-scrollbar-horizontal"><div class="swiper-scrollbar-drag" style="width: 415.842px; transform: translate3d(0px, 0px, 0px);"></div></div>
		</div>
	</div>
</div>