@model PerAspera.Models.ViewModels.FooterViewModel

<footer class="footer">
	<div class="wrap">
		<div class="footer__content">
			<img src="@Model.LogoUrl()" alt="" class="footer-logo">
			<nav class="footer-nav">
				<ul class="footer-nav__list" role="menubar">
					@foreach(var page in Model.Pages)
					{
						<li class="footer-nav__item" role="menuitem">
						<a href="@(page.Url())" class="footer-nav__link">@(page.Title)</a>
						</li>
					}
					
				</ul>
			</nav>
			<div class="footer-network">
				<ul class="footer-network__icons">
					@foreach(var item in Model.GetSocialMediaItems()){
						<li>
							<a href="@(item.SocialMediaLink.Url)" target="@item.SocialMediaLink.Target">
								<img style="width:30px; height:30px" src="@(item.SocialMediaIcon.Url())" />
						</li>
					}
				</ul>
			</div>
			<span class="footer-copy">@Model.Signature()</span>
		</div>
	</div>
</footer>
