@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.Search>
@using ContentModels = PerAspera.Models.Generated;
@{
	Layout = "_Layout";
}

<div class="search basic-block--beige">
		<div class="wrap">
			<div class="search-wrap">
				<input type="text" class="search__input" placeholder="Pretrazi...">
				<span class="icon font-ico-search"><span class="sr-only">Search icon</span></span>
			</div>
		</div>
	</div>
	<div class="wrap">
		<div class="search-view">
			@if(!string.IsNullOrEmpty(Model.Query)){

				<h2 class="search-title centered">Rezultati pretrage za "<span class="span--purple">@Model.Query</span>":</h2>
			}
			@if(Model.SearchItems != null)
			{
			<ul class="search-list">
				@foreach (var item in Model.SearchItems.Collection)
				{

					<li class="search-item">
						<a class="search-item-link" href="@item.Url">
							<h2 class="h2">@item.Title</h2>
							<p class="description">@item.Text</p>
						</a>
					</li>
				}
			</ul>
			}
		</div>
	</div>
@if(Model.SearchItems.Collection?.Any() ?? false)
{

	<div class="wrap">
		<div class="pagination">
			@if (Model.SearchItems != null)
			{
				<a class="previous @(!Model.SearchItems.HasPrevious ? "disabled" : string.Empty)" href="@(Model.GetPaginatedUrl(Convert.ToInt32(Model.SearchItems.CurrentPage) - 1))"><i class="font-ico-chevron-left"></i>Prethodna</a>
				<ul class="pagination-list">
					@foreach (var item in Enumerable.Range(1, Convert.ToInt32(Model.SearchItems.TotalPageNumber)))
					{
						<li><a class="pagination-button @(Model.SearchItems.CurrentPage == item ? "active" : string.Empty)" href="@Model.GetPaginatedUrl(item)">@item</a></li>
					}
				</ul>
				<a class="next @(!Model.SearchItems.HasNext ? "disabled" : string.Empty)" href="@(Model.GetPaginatedUrl(Convert.ToInt32(Model.SearchItems.CurrentPage) + 1))">Sledeća<i class="font-ico-chevron-right"></i></a>
			}
		</div>
	</div>
}
