@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.Shop>
@using ContentModels = PerAspera.Models.Generated;
@{
    Layout = "_Layout";
}

@Html.Partial("_Breadcrumbs", new PerAspera.Models.ViewModels.BreadCrumbsViewModel(Model))
	<div class="shop-cards">
		<div class="wrap">
			<div class="shop-cards__wrap">

				@foreach(var shopItem in Model.ShopItemList.Collection){
				<div class="shop-card">
					<div class="shop-card__img">
						<img src="@(shopItem.Image?.Url() ?? string.Empty)" alt="">
						<span class="card-label">@(shopItem.Category?.Name ?? string.Empty)</span>
					</div>

					<div class="shop-card__content">
						<h3 class="h3"> @shopItem.Name </h3>
						<p class="shop-card__text">@shopItem.Description</p>
						<span class="shop-card__price">@shopItem.Price rsd</span>
						<button class="shop-card__more js-shop-modal-open">saznaj vise</button>
						<div class="shop-card__popup js-shop-modal-overlay">
							<div class="shop-card__popup-wrap">
								<button class="js-modal-close"><span class="icon font-ico-close-x"><span class="sr-only">Close popup</span></span></button>
								<div class="shop-card__slider">
									<div class="swiper-container js-shop-slider">
										<div class="swiper-wrapper">
											@foreach (var image in shopItem.ImageList)
											{
												<div class="swiper-slide shop-slide">
													<img src="@(image.Url() ?? string.Empty)" alt="slide1">
												</div>
											}
										
											
										</div>
										<div class="swiper-buttons">
											<div class="swiper-button-next"><span class="icon font-ico-chevron-right"><span class="sr-only">Icon next</span></span></div>
											<div class="swiper-pagination"></div>
											<div class="swiper-button-prev"><span class="icon font-ico-chevron-right"><span class="sr-only">Icon prev</span></span></div>
										</div>
										<button class="btn js-order">Poručite<span class="icon font-ico-chevron-right"><span class="sr-only">Icon right</span></span></button>
									</div>
								</div>
								<div class="shop-card__popup-text">
									<h3 class="h3"> @shopItem.Name </h3>
									<p class="shop-card__paragraph">@shopItem.ShopDetailsText</p>
								</div>
							</div>
						</div>
						<button class="btn js-order">Poručite<span class="icon font-ico-chevron-right"><span class="sr-only">Icon right</span></span></button>
					</div>
				
				</div>
				}
			</div>
		</div>
	</div>
	<div class="wrap">
		<div class="pagination">
			<a class="previous @(!Model.ShopItemList.HasPrevious ? "disabled" : string.Empty)" href="@(Model.GetPaginatedUrl(Convert.ToInt32(Model.ShopItemList.CurrentPage) - 1))"><i class="font-ico-chevron-left"></i>Prethodna</a>
			<ul class="pagination-list">
				@foreach(var item in Enumerable.Range(1, Convert.ToInt32(Model.ShopItemList.TotalPageNumber)))
				{
				<li><a class="pagination-button @(Model.ShopItemList.CurrentPage == item ? "active" : string.Empty)" href="@Model.GetPaginatedUrl(item)">@item</a></li>
				}
			</ul>
			<a class="next @(!Model.ShopItemList.HasNext ? "disabled" : string.Empty)" href="@(Model.GetPaginatedUrl(Convert.ToInt32(Model.ShopItemList.CurrentPage) + 1))">Sledeća<i class="font-ico-chevron-right"></i></a>
	</div>
	</div>
	
@Html.Partial("Forms/ShopOrderForm", new PerAspera.Models.ViewModels.ShopOrderDto(),
                        new ViewDataDictionary(this.ViewData) { { "Products", Model.GetProducts() } })
