@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.YourStories>
@using ContentModels = PerAspera.Models.Generated;
@{
    Layout = "_Layout";
}

<div class="breadcrumbs">
    <div class="wrap">
        <ul class="breadcrumbs-list">
            <li class="breadcrumbs-item home">
                <a href="/" class="breadcrumbs-link">
                    Početna <span class="icon font-ico-chevron-right"><span class="sr-only">Icon right</span></span>
                </a>
            </li>
            <li class="breadcrumbs-item">
                <a href="javascript:;" class="breadcrumbs-link">vase price</a>
            </li>
        </ul>
    </div>
</div>
<div class="order-form">
    <div class="wrap">
        <div class="order-form__content">
            <h3 class="h3">@Model.FormTitle</h3>
            <p>@Model.FormDescription</p>
            @Html.Partial("Forms/YourStoryForm", new PerAspera.Models.ViewModels.YourStoryFormDto())

        </div>
    </div>
</div>
<div class="comments">
    <div class="wrap">
        <div class="comments-wrap">

            @foreach (var item in Model.Stories.Collection)
            {
                <div class="comment">
                    <h3 class="h3 comment-heading">@item.StoryBy:</h3>
                    <p class="comment-description">@item.Text</p>
                    <button class="comment-read-more js-modal-open">Pročitaj celu priču<i class="font-ico-chevron-right"></i></button>
                </div>
            }
        </div>

        <div class="pagination">
            <a class="previous @(!Model.Stories.HasPrevious ? "disabled" : string.Empty)" href="@(Model.GetPaginatedUrl(Convert.ToInt32(Model.Stories.CurrentPage) - 1))"><i class="font-ico-chevron-left"></i>Prethodna</a>
            <ul class="pagination-list">
                @foreach (var item in Enumerable.Range(1, Convert.ToInt32(Model.Stories.TotalPageNumber)))
                {
                    <li><a class="pagination-button @(Model.Stories.CurrentPage == item ? "active" : string.Empty)" href="@Model.GetPaginatedUrl(item)">@item</a></li>
                }
            </ul>
            <a class="next @(!Model.Stories.HasNext ? "disabled" : string.Empty)" href="@(Model.GetPaginatedUrl(Convert.ToInt32(Model.Stories.CurrentPage) + 1))">Sledeća<i class="font-ico-chevron-right"></i></a>
        </div>
    </div>
</div>
<div class="modal-overlay js-modal-overlay">
    <div class="modal">
        <div class="modal-content">Something3</div>
        <a class="modal-close-btn js-modal-close"><i class="font-ico-close-x"></i></a>
    </div>
</div>
<div class="modal-overlay js-modal-overlay">
    <div class="modal">
        <div class="modal-content">Something3</div>
        <a class="modal-close-btn js-modal-close"><i class="font-ico-close-x"></i></a>
    </div>
</div>